<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/png" href="/static/favicon_final.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style_english.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Omar</title>
</head>
<body>
    <div>
        <div id="loaderContainer">
            <div id="loader"> </div>
            <div id="loaderText">Gathering info about your location</div>
        </div>
        <div id="chat" style="display:none;">
          <div id="chatbox" class="animate-bottom">
          </div>
          <div id="userInput" class="animate-bottom">
                <div id="indicator" style="display: none">
                        <div class="card text-white bg-danger mb-3" style="max-width: 10%; margin-left:0; margin-right:auto;">
                            <p class="container card-ext">
                                <span>
                                    <div class='spinner'>
                                        <div class='bounce1'>
                                        </div>
                                        <div class='bounce2'>
                                        </div>
                                        <div class='bounce3'>
                                        </div>
                                    </div>
                                </span>
                            </p>
                        </div>
                  </div>
            <input id="textInput" type="text" class="form-control" name="msg" placeholder="Message">
            <input id="buttonInput" type="submit" class="btn btn-primary btn-group-justified" value="Send">
          </div>
        </div>



        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em" crossorigin="anonymous"></script>
        <script src='/static/bot.js'></script>
      </div>
</body>
</html>
